html{
    scroll-behavior: smooth;
}
body{
   
}
.card{
   
    height: 450px;
}
.nav2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    position: fixed;
    z-index: 99;
    background-color: white;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -110%;
    transition: 0.5s;
    box-shadow: 0 0 20px black;
}
.slide{
    left:0;
}
.swiper {
    width: 100%;
    height: 300px;
    
  }

.pbtn{
    padding: 10px 40px;
    background-color: orange;
    color:white;
    border-radius: 5px;
}